<div id="loginform" class="loginBox">
	<div class="row cl">
		<label class="form-label col-xs-3" style="text-align: right;"><i class="Hui-iconfont">&#xe60d;</i></label>
	  	<div class="formControls col-xs-8">
	    	<input type="text" placeholder="名称/手机号码" class="input-text size-L" ng-model="user.nameOrPhone">
	  	</div>
	</div>
	<div class="row cl">
	  	<label class="form-label col-xs-3" style="text-align: right;"><i class="Hui-iconfont">&#xe60e;</i></label>
	  	<div class="formControls col-xs-8">
	    	<input type="password" placeholder="密码" class="input-text size-L" ng-model="user.passward">
	 	</div>
	</div>
	<div class="row cl">
	  	<div class="formControls col-xs-8 col-xs-offset-3">
		    <input type="button" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;" ng-click="login();">
		    <input type="button" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;" ng-click="reset();">
	  	</div>
	</div>
</div>
<app-loading></app-loading>
<app-msg></app-msg>  