<div class="modal-header">
    <h3 class="modal-title">属性字段：</h3>
</div>
<div class="modal-body">
    <textarea class="textarea" placeholder="属性字段, 长度不能超过5" ng-model="attrInfo.name" autofocus="autofocus"></textarea>
    <span class="error-msg" style="display:{{attrInfo.name == null || attrInfo.name == '' ? ';' : 'none;'}}">该字段不能为空！</span>
    <span class="error-msg" style="display:{{attrInfo.name != null && attrInfo.name != '' && attrInfo.name.length > 5 ? ';' : 'none;'}}">该字段不能超过最大字数5！</span>
</div>
<div class="modal-footer">
    <button class="btn {{validate() ? 'btn-primary' : 'btn-default'}}" ng-click="confirmSure();" ng-disabled="!validate();">确认</button>
    <button class="btn btn-warning" ng-click="confirmCancel();">取消</button>
</div>